<form method="post" action="<%= base_path %>/<%= entity.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger"><%= delete_label %></button>
</form>
