.navbar.navbar-default.navbar-static-top{ role: 'navigation', style: 'margin-bottom: 0' }
  .navbar-header
    %span.navbar-brand
      ProxES
      - if defined? title
        = "- #{title}"
    %button.navbar-toggle.collapsed{ 'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar', 'aria-expanded' => 'false', 'aria-controls' => 'navbar' }
      %span.sr-only Toggle navigation
      %span.icon-bar.bar1
      %span.icon-bar.bar2
      %span.icon-bar.bar3
  -if authenticated?
    %form.nav.navbar-top-links.navbar-form.navbar-right{ action: '/_proxes/auth/identity', method: 'post' }
      %a.btn.btn-default{ href: "/_proxes/users/profile" } My Account
      %input{ name: '_method', value: 'DELETE', type: 'hidden' }
      %button.btn.btn-default{ type: 'submit' }
        / %i.ti-panel
        Logout
  - else
    %ul.nav.navbar-top-links.navbar-right
      %li
        %a.btn.btn-link{ href: '/_proxes/auth/identity' }
          Log In
  .navbar-default.sidebar{ role: 'navigation' }
    = haml :'partials/sidebar'
