%ul.nav.nav-pills.nav-stacked
  - if defined?(current_user) && current_user
    %li
      %a{ href: '/_proxes' }
        %i.fa.fa-dashboard.fa-fw
        Dashboard
    - if current_user.super_admin?
      %li
        %a{ href: '/_proxes/users' }
          %i.fa.fa-user.fa-fw
          Users
      %li
        %a{ href: '/_proxes/roles' }
          %i.fa.fa-group.fa-fw
          Roles
      %li
        %a{ href: '/_proxes/permissions' }
          %i.fa.fa-check-square-o.fa-fw
          Permissions
    %li
      %a{ href: '/_proxes/settings' }
        %i.fa.fa-cog.fa-fw
        Settings
  - else
    %li.active
      %a{ href: '/auth/identity' }
        %i.fa.fa-user.fa-fw
        Log In
    %li
      %a{ href: '/auth/identity/register' }
        %i.fa.fa-pencil-square-o.fa-fw
        Register
