.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        = form_tag(base_path) do
          = haml :'status_checks/form', locals: { entity: entity }
          %button.btn.btn-primary.btn{ type: 'submit' }
            Create Status Check
  .col-md-2
