.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h4 ProxES Registration
      .panel-body
        %form.form-horizontal{ method: 'post', action: '/_proxes/auth/identity/new' }
          = form_control(:username, identity, label: 'Email', placeholder: 'Your email address')
          = form_control(:password, identity, label: 'Password', type: :password)
          = form_control(:password_confirmation, identity, label: 'Confirm Password', type: :password)

          %button.btn.btn-primary{ type: 'submit' } Register
  .col-md-2
