.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %form.form-horizontal{ method: 'post', action: "#{base_path}/#{entity.id}" }
          %input{ name: '_method', value: 'PUT', type: 'hidden' }
          = haml :'roles/form', locals: { entity: entity }
          %button.btn.btn-primary{ type: 'submit' }
            Update Role
  .col-md-2
