.row
  .col-md-12
    .panel.panel-default
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Permissions
        %tbody
          -list.each do |entity|
            %tr
              %td
                %a{ href: "/_proxes/roles/#{entity.id}" }= entity.name
              %td
                = entity.permissions_dataset.count
      .panel-body.text-right
        %a.btn.btn-primary{ href: '/_proxes/roles/new' } New Role

=pagination(list, base_path)
