.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        = edit_form_tag("#{base_path}/#{entity.id}") do
          = haml :'permissions/form', locals: { entity: entity }
          %button.btn.btn-primary{ type: 'submit' }
            Update Permission
  .col-md-2
