.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %form.form-horizontal{ method: 'post', action: '/_proxes/permissions' }
          = haml :'permissions/form', locals: { entity: entity }
          %button.btn.btn-primary.btn{ type: 'submit' }
            Create Permission
  .col-md-2
