.row
  .col-md-12
    .panel.panel-default
      %table.table.table-striped
        %thead
          %tr
            %th User email
            %th Action
            %th Details
            %th Created at
        %tbody
          -list.each do |entity|
            %tr
              %td
                -if entity.user
                  %a{ href: "/_proxes/users/#{entity.user.id}" }= entity.user.email
                -else
                  None
              %td
                = entity.action
              %td
                = entity.details
              %td
                = entity.created_at.strftime('%Y-%m-%d %H:%M:%S')
