.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = title
      %table.table.table-striped
        %thead
          %tr
            %th User
            %th Role
        %tbody
          -list.each do |entity|
            %tr
              %td
                -if entity.user
                  %a{ href: "/_proxes/users/#{entity.user.id}" }= entity.user.identity&.first&.username
                -else
                  None
              %td
                %a{ href: "/_proxes/user-roles/#{entity.id}" }= entity.role
      .panel-body.text-right
        %a.btn.btn-primary{ href: '/_proxes/user-roles/new' } New Role