:css
	.font-weight-bold {
		font-weight: bold;
	}

	.status-table td {
		/* marked important to override style from bootstrap (.table>tbody>tr>td) */
		line-height: 2.5em !important;
	}

	.status-table td.icon {
		width: 4em
	}

	.status-table i.fa {
		/* marked important to override style from bootstrap (.table>tbody>tr>td) */
		line-height: 1.2em !important;
	}

	.status-table i.fa.success {
		color: #3c763d;
	}

	.status-table i.fa.warning {
		color: #a94442;
	}

%table.table.status-table
	%thead
		%tr
			%th
			%th Check
			%th Value
	%tbody
		- checks.each do |check|
			%tr
				%td.icon
					%i.fa.fa-2x{ class: check[:passed] ? 'success fa-check-circle' : 'warning fa-times-circle'}
				%td.font-weight-bold= check[:text]
				%td= check[:value].is_a?(Array) ? check[:value].join('<br>') : check[:value]


-# would prefer something like 'Refreshed 55 minutes ago' but would need to get haml to call into momentjs
%p.pull-right.text-muted Last refreshed at #{Time.now.strftime("%Y-%m-%d %H:%M:%S")}
%div.clearfix