.form-group{ class: ('has-error' if user.errors[:name]) }
  %label.control-label Name
  %input.form-control.border-input{ name: 'user[name]', id: :'user_name', type: 'text', autofocus: true, value: user.name, placeholder: 'Your name' }
  -if user.errors[:name]
    %p.help-block.text-danger
      = user.errors[:name].join(', ')

.form-group{ class: ('has-error' if user.errors[:surname]) }
  %label.control-label Surname
  %input.form-control.border-input{ name: 'user[surname]', id: :'user_surname', type: 'text', autofocus: true, value: user.surname, placeholder: 'Your surname' }
  -if user.errors[:surname]
    %p.help-block.text-danger
      = user.errors[:surname].join(', ')

.form-group{ class: ('has-error' if user.errors[:role]) }
  %label.control-label Role
  %select.form-control.border-input{ name: 'user[role]', id: 'user_role' }
    %option{ value: 'user', selected: (user.role == 'user') } User
    %option{ value: 'owner', selected: (user.role == 'owner') } Owner
    %option{ value: 'admin', selected: (user.role == 'admin') } Admin
  -if user.errors[:role]
    %p.help-block.text-danger
      = user.errors[:role].join(', ')
