= form_control(:username, identity, label: 'Email', placeholder: 'Your email address')
= form_control(:password, identity, type: 'password', placeholder: 'Your password')
= form_control(:password_confirmation, identity, type: 'password', label: 'Confirm Password', placeholder: 'Confirm your password')
