.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %form.form-horizontal{ method: 'post', action: base_path }
          = haml :'users/identity', locals: { identity: identity }
          = haml :'users/user', locals: { user: entity }
          %button.btn.btn-primary.btn{ type: 'submit' }
            Create User
  .col-md-2
