.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = title
      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th User
            %th Created
        %tbody
          -tokens.each do |token|
            %tr
              %td
                %a{ href: root_url + "/tokens/#{token.id}" }= token.id
              %td= token.user.email
              %td= token.created_at
      .panel-body.text-right
        %a.btn.btn-primary{ href: root_url + '/tokens/new' } New Tokens